<div class="main">
    <div class="fondo">
        <div class="card p-3">
            <div class="card-header ps-5 pt-4 pb-4 ">
                <h2 class="mb-"><i class="fa-regular fa-hospital"></i> ¡Inicia sesión!</h2>
            </div>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Correo electrónico :</label>
                    <input #correo="ngModel"
                        [ngClass]="correo.invalid && (correo.dirty || correo.touched) ? 'is-invalid' : ''" type="email"
                        name="correo" class="form-control" required [(ngModel)]="loginDTO.correo" />
                </div>

                <div>
                    <label class="col-sm-2 col-form-label">Contraseña: </label>
                    <input #password="ngModel"
                        [ngClass]="password.invalid && (password.dirty || password.touched) ? 'is-invalid' : ''"
                        type="password" name="password" class="form-control" required
                        [(ngModel)]="loginDTO.contrasenia" />
                </div>

                <div class=" link-recover">
                    <a routerLink="/recuperar-contrasena"> Recuperar contraseña </a>
                </div>

            </form>

            <div class="botonContinuar">
                <button type="button" class="btn btn-primary " (click)="loguear()">Continuar</button>
            </div>
        </div>
    </div>
</div>