<header class="p-3 text-bg-primary">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center
  justify-content-lg-start">
      <a routerLink="" class="d-flex align-items-center mb-2 mb-lg-0 text-white
  text-decoration-none">

        <i class="fa-solid fa-stethoscope fs-3"></i>
        <span class="fs-4 ms-3 me-5">{{title}}</span>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="" class="nav-link px-2 text-white">Inicio</a></li>
        <li><a routerLink="" class="nav-link px-2 text-white">Gestión médicos</a></li>
        <li><a routerLink="" class="nav-link px-2 text-white">Gestión PQRS</a></li>
        <li><a routerLink="/gestion-pqrs" class="nav-link px-2 text-white">Gestión PQRS</a></li>
        <li><a routerLink="" class="nav-link px-2 text-white">Gestión Citas</a></li>
      </ul>
      <div class="text-end">
        <button type="button" routerLink="/login" class="btn btn-light
        me-2">Login
        </button>
        <button type="button" routerLink="/registro" class="btn btn-outline-light
        btn-success">Sign-up
        </button>

      </div>
    </div>
  </div>
</header>
<div class="seccion-pagina p-4">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4
  border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Universidad del Quindío</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-x-twitter
  fs-5"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-instagram
  fs-5"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-facebook
  fs-5"></i></a></li>
    </ul>
  </footer>
</div>