<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-file-circle-plus me-2"></i>Solicitar una cita</h5>
    </div>

    <body>

        <div class="container mt-5">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <p></p>
                </div>
                <div class="card-body">
                    <form action="#" method="post" id="registroMedicoForm">

                        <div class="form-group row">
                            <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
                            <div class="col-sm-10">
                                <input type="text" id="nombre" name="nombre" class="form-control" required>
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label for="correo" class="col-sm-2 col-form-label">Correo Electrónico:</label>
                            <div class="col-sm-10">
                                <input type="email" id="correo" name="correo" class="form-control" required>
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label for="cedula" class="col-sm-2 col-form-label">Cédula:</label>
                            <div class="col-sm-10">
                                <input type="text" id="cedula" name="cedula" class="form-control" maxlength="10"
                                    required>
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label for="celular" class="col-sm-2 col-form-label">Celular:</label>
                            <div class="col-sm-10">
                                <input type="tel" id="celular" name="celular" class="form-control" maxlength="20"
                                    required>
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label for="motivo" class="col-sm-2 col-form-label">Motivo de la consulta:</label>
                            <textarea name="motivo" id="" cols="30" rows="10"></textarea>

                        </div>
                        <!-- ... (otros campos según el DTO) ... -->
                        <br>
                        <div>
                            <div>
                                <button type="submit" class="btn btn-primary">Solicitar Cita</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </body>