<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Editar Perfil </title>
</head>

<body>

  <div class="container mt-5">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h5 class="mb-0"><i class="fa-solid fa-user-edit me-3"></i>Elija el perfil que desea editar</h5>
      </div>
      <div class="card-body">

        <div class="col-sm-3">
          <button routerLink="/editar-medico" type="submit" [disabled]="" class="btn btn-primary ">
            <i class="fa-solid fa-user-edit me-3"></i>
            <a class="nav-link px-2 text-white">Perfil de medico</a>
          </button>
        </div>
        <br>
        <div class="col-sm-3">
          <button routerLink="/editar-usuario" type="submit" [disabled]=" " class="btn btn-primary">
            <i class="fa-solid fa-user-edit me-3"></i>
            <a class="nav-link px-2 text-white">Perfil de paciente</a>
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>