<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Clinica </h1>

</head>

<body>
    <header>
        <h1>Clínica Médica </h1>
        <nav>
        </nav>
    </header>

    <main>
        <section class="banner">
            <!-- Aquí puedes agregar una imagen o un mensaje de bienvenida -->
        </section>

        <section class="intro">
            <h2>Bienvenido a nuestra clínica médica</h2>
            <p>Somos una clínica comprometida con la salud y el bienestar de nuestros pacientes. Nuestro equipo de
                médicos altamente calificados está listo para atender sus necesidades médicas.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Clínica Médica XYZ</p>
    </footer>
</body>

</html>