<form #f="ngForm" (ngSubmit)="registrar()">

    <div class="card">
        <div class="card-header ps-5 pt-4 pb-4">
            <h5 class="mb-0"><i class="fa-solid fa-user-plus me-3"></i>Registro de un nuevo
                paciente</h5>
        </div>
        <div class="card-body p-5">
            <form #f="ngForm" (ngSubmit)="registrar()">
                <!-- Todo lo que va dentro del form -->
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Cédula: </label>
                    <div class="col-sm-10">
                        <input #cedula="ngModel"
                            [ngClass]="cedula.invalid && (cedula.dirty || cedula.touched) ? 'is-invalid' : ''"
                            type="text" name="cedula" class="form-control" required
                            [(ngModel)]="registroPacienteDTO.cedula" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Nombre: </label>
                    <div class="col-sm-10">
                        <input #nombre="ngModel"
                            [ngClass]="nombre.invalid && (nombre.dirty || nombre.touched) ? 'is-invalid' : ''"
                            type="text" name="nombre" class="form-control" required
                            [(ngModel)]="registroPacienteDTO.nombre" />
                    </div>
                </div>>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Teléfono: </label>
                    <div class="col-sm-10">
                        <input #Telefono="ngModel"
                            [ngClass]="Telefono.invalid && (Telefono.dirty || Telefono.touched) ? 'is-invalid' : ''"
                            type="number" name="telefono" class="form-control" required
                            [(ngModel)]="registroPacienteDTO.telefono" />
                    </div>
                </div>>

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Foto: </label>
                    <div class="col-sm-10">
                        <input type="file" name="urlFoto" class="form-control" required
                            (change)="onFileChange($event)" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Ciudad: </label>
                    <div class="col-sm-10">
                        <select name="ciudad" required [(ngModel)]="registroPacienteDTO.ciudades">
                            <option value="" selected>Seleccione una ciudad</option>
                            <option [value]="item" *ngFor="let item of ciudades; index as i">{{item}}</option>
                        </select>
                    </div>
                </div>>

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Fecha de nacimiento:: </label>
                    <div class="col-sm-10">
                        <input #fecha="ngModel"
                            [ngClass]="fecha.invalid && (fecha.dirty || fecha.touched) ? 'is-invalid' : ''" type="text"
                            name="fecha" class="form-control" required
                            [(ngModel)]="registroPacienteDTO.fechaNacimiento" />
                    </div>
                </div>>
                <div>
                    <label>Fecha de nacimiento: </label>
                    <input type="date" name="fechaNacimiento" [(ngModel)]="registroPacienteDTO.fechaNacimiento" />
                </div>
                <div>
                    <label>Alergias: </label>
                    <input type="text" name="alergias" [(ngModel)]="registroPacienteDTO.alergias" />
                </div>
                <div>
                    <label>EPS: </label>
                    <input type="text" name="eps" [(ngModel)]="registroPacienteDTO.eps" />
                </div>
                <div>
                    <label>Tipo de sangre: </label>
                    <input type="text" name="tipoSangre" [(ngModel)]="registroPacienteDTO.tipoSangre" />
                </div>
                <div>
                    <label>Correo electrónico: </label>
                    <input type="email" name="correo" [(ngModel)]="registroPacienteDTO.correo" />
                </div>
                <div>
                    <label>Contraseña: </label>
                    <input type="password" name="password" [(ngModel)]="registroPacienteDTO.password" />
                </div>

                <div>
                    <label>Repetir contraseña: </label>
                    <input type="password" name="confirmaPassword" [(ngModel)]="registroPacienteDTO.confirmaPassword"
                        required />
                </div>
                <p *ngIf="!sonIguales()">Las contraseñas no coinciden</p>
                <button type="submit" [disabled]="f.invalid || !sonIguales()">Registrarse</button>
            </form>
        </div>
    </div>