<form #f="ngForm" (ngSubmit)="registrar()">

    <div class="card">
        <div class="card-header ps-5 pt-4 pb-4">
            <h5 class="mb-0"><i class="fa-solid fa-user-plus me-3"></i>Registro de un paciente</h5>
        </div>
        <div class="card-body p-5">
            <form #f="ngForm" (ngSubmit)="registrar()">
                <!-- Todo lo que va dentro del form -->
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Cédula: </label>
                    <div class="col-sm-10">
                        <input #cedula="ngModel"
                            [ngClass]="cedula.invalid && (cedula.dirty || cedula.touched) ? 'is-invalid' : ''"
                            type="text" name="cedula" class="form-control" required
                            [(ngModel)]="registroPacienteDTO.cedula" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Nombre: </label>
                    <div class="col-sm-10">
                        <input #nombre="ngModel"
                            [ngClass]="nombre.invalid && (nombre.dirty || nombre.touched) ? 'is-invalid' : ''"
                            type="text" name="nombre" class="form-control" required
                            [(ngModel)]="registroPacienteDTO.nombre" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Teléfono: </label>
                    <div class="col-sm-10">
                        <input #Telefono="ngModel"
                            [ngClass]="Telefono.invalid && (Telefono.dirty || Telefono.touched) ? 'is-invalid' : ''"
                            type="number" name="telefono" class="form-control" required
                            [(ngModel)]="registroPacienteDTO.celular" />
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Foto: </label>
                    <div class="col-sm-8">
                        <input type="file" class="form-control" name="foto" (change)="onFileChange($event)" />
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" [disabled]="archivos == null" class="btn btn-primary"
                            (click)="subirImagen()">
                            <i class="fa-solid fa-cloud-arrow-up me-2"></i>Subir Foto
                        </button>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Ciudad: </label>
                    <div class="col-sm-10">
                        <select name="ciudad" required [(ngModel)]="registroPacienteDTO.ciudad">
                            <option value="" selected>Seleccione una ciudad</option>
                            <option [value]="item" *ngFor="let item of ciudades; index as i">{{item}}</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Fecha de nacimiento:: </label>
                    <div class="col-sm-10">
                        <input #fechaNacimiento="ngModel"
                            [ngClass]="fechaNacimiento.invalid && (fechaNacimiento.dirty || fechaNacimiento.touched) ? 'is-invalid' : ''"
                            type="date" name="fechaNacimiento" class="form-control" required
                            [(ngModel)]="registroPacienteDTO.fechaNacimiento" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Alergias: </label>
                    <div class="col-sm-10">
                        <input #alergias="ngModel"
                            [ngClass]="alergias.invalid && (alergias.dirty || alergias.touched) ? 'is-invalid' : ''"
                            type="text" name="alergias" class="form-control" required
                            [(ngModel)]="registroPacienteDTO.alergias" />
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">EPS: </label>
                    <div class="col-sm-10">
                        <select name="eps" required [(ngModel)]="registroPacienteDTO.eps">
                            <option value="" selected>Seleccione su EPS</option>
                            <option [value]="item" *ngFor="let item of eps; index as i">{{item}}</option>
                        </select>
                    </div>
                </div>


                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Tipo de sangre: </label>
                    <div class="col-sm-10">
                        <select name="tipoSangre" required [(ngModel)]="registroPacienteDTO.tipoSangre">
                            <option value="" selected>Seleccione su Tipo de sangre</option>
                            <option [value]="item" *ngFor="let item of tiposDeSangre; index as i">{{item}}</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Correo electrónico: </label>
                    <div class="col-sm-10">
                        <input #correo="ngModel"
                            [ngClass]="correo.invalid && (correo.dirty || correo.touched) ? 'is-invalid' : ''"
                            type="email" name="correo" class="form-control" required
                            [(ngModel)]="registroPacienteDTO.correo" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Contraseña: </label>
                    <div class="col-sm-10">
                        <input #password="ngModel"
                            [ngClass]="password.invalid && (password.dirty || password.touched) ? 'is-invalid' : ''"
                            type="password" name="password" class="form-control" required
                            [(ngModel)]="registroPacienteDTO.contrasena" />
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Repetir contraseña:: </label>
                    <div class="col-sm-10">
                        <input #confirmaPassword="ngModel"
                            [ngClass]="confirmaPassword.invalid && (confirmaPassword.dirty || confirmaPassword.touched) ? 'is-invalid' : ''"
                            type="password" name="confirmaPassword" class="form-control" required
                            [(ngModel)]="registroPacienteDTO.confirmaPassword" />
                    </div>
                </div>
                <p *ngIf="!sonIguales()">Las contraseñas no coinciden</p>
                <button class="btn btn-primary" (click)="registrar()"
                    [disabled]="f.invalid || !sonIguales()">Registrarse
                </button>
                <app-alerta [alerta]="alerta"></app-alerta>
            </form>
        </div>
    </div>